.form-container {
    /* margin: 0 auto; */
    margin-top: clamp(1rem, 10vw, 100rem);
    margin-bottom: 10rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.error {
    color: red;
    font-size: 14px;
  }
.Customerinformation p{
    font-size: clamp(1rem, 1.5vw, 10rem);
    display: inline-block;
    margin: clamp(0rem ,1vw ,10rem);
    font-weight: 350;
}
.Customerinformation input{
    /* margin: clamp(1rem, 1vw, 10rem); */
    width: clamp(20rem,28vw,100rem);
    text-align: center;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
/* .hidden{
    display: none;
} */
.luachon p{
    font-size: clamp(1rem, 1.5vw, 10rem);
    display: inline-block;
    margin: clamp(0rem ,1vw ,10rem);
    font-weight: 350;
}

.luachon .cacluachon{
    display: inline-block;
    padding: 1rem;
}

.luachon label{
    padding-left:  1rem;
    padding-right: 1rem;
    margin: clamp(1rem, 1vw, 10rem);
    /* width: clamp(20rem,28vw,100rem); */
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 100px;
}

.CustomerEmail p{
    font-size: clamp(1rem, 1.5vw, 10rem);
    display: inline-block;
    margin: clamp(0rem ,1vw ,10rem);
    font-weight: 350;
}
.CustomerEmail input{
    margin: clamp(0rem, 2vw, 10rem);
    width: clamp(18rem,40vw,100rem);
    text-align: center;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.CustomerPhone p{
    font-size: clamp(1rem, 1.5vw, 10rem);
    display: inline-block;
    margin: clamp(0rem ,1vw ,10rem);
    font-weight: 350;
}
.CustomerPhone input{
    /* margin: clamp(1rem, 2vw, 10rem); */
    width: clamp(18rem,40vw,100rem);
    text-align: center;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.CustomerProject p{
    font-size: clamp(1rem, 1.5vw, 10rem);
    display: inline-block;
    margin: clamp(0rem ,1vw ,10rem);
    font-weight: 350;
}
.CustomerProject input{
    margin: clamp(0rem, 1vw, 10rem);
    width: clamp(18rem,45vw,100rem);
    text-align: center;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.checkbox-group{
    display: inline-block;
    margin: 1rem;
}
.captcha{
    display: inline-block;
    margin: 1rem;

}
.captcha input{
    /* margin: clamp(1rem, 1vw, 10rem); */
    width: clamp(18rem,28vw,100rem);
    text-align: center;
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.endform button {
    display: inline-block;
    margin: 1rem;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 100px;
    color: white;
    background: linear-gradient(109deg, #334fff 13.24%, #7433ff 92.35%);
}
.endform .message {
    margin: 0 1rem 0 1rem;
    color: white;
}

.endform button:hover {
    background: linear-gradient(109deg, #7433ff 13.24%, #334fff 92.35%);
}

.popup-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);

}
.popup-overlay{
    background: rgb(255, 255, 255);
    height: 15rem;
    width: 25rem;
    position: fixed;
    top: 15rem;
    left: 36%;
    right: 0;

}
.popup-overlay h2{
    margin-top: 4rem;
}


.popup {
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.popup-content h2 {
    margin-bottom: 20px;
}

.popup-content button {
    padding: 10px 30px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background: #0056b3;
}

.checkbox-group a{
    color: black;
}