.bg{
    color: white;
    --tw-bg-opacity: 1;
    background-color: rgb(25 25 25 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    overflow-x: hidden;
}
.bg-radient{
    /* border: 1px solid; */
    padding: 80px 0;
    /* background: rgb(2,0,36);
background: linear-gradient(198deg, rgba(2,0,36,1) 0%, rgba(62,97,200,1) 35%, rgba(130,10,170,1) 100%); */
/* background: rgb(64,91,168);
background: linear-gradient(84deg, rgba(64,91,168,1) 0%, rgba(11,15,28,1) 49%, rgba(103,31,128,1) 100%); */
}
#intro{
    text-align: center;
    position: relative;
    margin-top: 30px;
    /* z-index: 3; */
}
#intro h5{
    /* margin-top: 30px; */
}
#intro h1{
    margin: 40px;
    font-weight:700;
    font-size: 55px;
}
#intro span{
    background: linear-gradient(106deg, #b9c3ff 12.8%, #d7b8ff 47%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient{
    background: linear-gradient(106deg, #b9c3ff 12.8%, #d7b8ff 47%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#approach{
    margin-top: 120px ;
    text-align: center;
    position: relative;
}
#approach-item{
    margin-top: 80px;
    padding-right: 3em;
    
}
#approach-item h3{
    font-weight: 350;
    margin-top: 1.5em;
}
#approach-item-content{
    border: 1px solid rgb(128, 128, 128, .3);
    border-radius: 8px;
    min-height: 18em;
    padding: 30px 10px 10px 30px;
    /* overflow: scroll; */
    background-color: rgb(128, 128, 128, 0.1) ;
}
#featured button{
    font-size: 34px;
    padding: 0.5em;
    border-radius: 35px;
    margin: 2em 1em 0 1em;
    text-wrap: nowrap;
    
}
/* #featured .button-row1{
    display: flex;
    transform: rotate(2deg);
    animation: 16s linear 1s infinite alternate both running slidein;
} */
#featured .button-row{
    display: flex;
    transform: rotate(2deg);
    flex-wrap: nowrap;
    animation: 6s linear 1s infinite alternate both running slidein;
}
#featured {
    position: relative;
    /* text-align: center; */
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    --play: running;
    --direction: reverse;
    --duration: 5s;
    --delay: 0s;
    --iteration-count: infinite;
    --min-width: auto;
    /* overflow: hidden; */
    
    
    /* animation:var(--duration) linear var(--delay) var(--iteration-count) alternate none running scroll; */
    
    /* animation-direction: var(--direction); */
}
#review-section{
    margin-top: 120px;
}
#review-section #star-rating{
    display: flex;
    border: 1px solid grey;
    border-radius: 8px;
    font-size:x-large ;
    /* word-spacing:2px; */
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(128, 128, 128, 0.2) ;
}
button#go-to-clutch{
   padding: .5em 2em;
   background-color: rgb(25, 25, 25);
   color: white;
   border-radius: 20px;
    border: 1px solid grey;
}
button#go-to-clutch:hover{
    background: linear-gradient(109deg, #334fff 13.24%, #7433ff 92.35%);
}
.review-item-content{
    margin-top: 50px;
    padding: 18px 28px;
    background-color: rgb(128, 128, 128, 0.1) ;
    border: 1px solid rgb(128, 128, 128, .3);
    border-radius: 8px;
}
#review-item h2{

font-style: oblique;
font-size: 33px;
font-weight: 700;
}
#review-item h4{
    color: gray;
    font-weight: 650;
    margin-top: 30px;
}
#review-item #review-work{
    font-weight: 450;
    margin-top: 12px;
    margin-bottom: -10px;
}
.rating{
    padding-top: 0;
}
#process{
    margin-top: 100px;
}
#process .row{
    margin-top: 60px;
}
.process-row{
    padding: 0;
    margin: 0;
    width: calc(50% + 100px);
    margin-left: auto;
}
.process-row-reverse{
    margin: 0;
    width: calc(50% + 100px);
    flex-direction: row-reverse;
    /* margin-right: auto; */
}
.steps{
    display: flex;
    width: 200px;
    border-radius: 9999px;
    height: 200px;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    padding: 0 10px;
    background-color: rgb(128, 128, 128, 0.1) ;
    position: relative;
    z-index: 99;
}
#process .connector{
    --tw-bg-opacity: 0.1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    transform: translate(var(--tw-translate-x), 0) rotate(0) skewX(0) 
    skewY(0) scaleX(1) scaleY(1);
    --tw-translate-x: -50%;
    width: 1px;
    height: 1100px;
    display: block;
    z-index: -1;
    top: 400px;
    left: -30%;
    position: relative;
}
.border-fade{
    border: 1px solid rgb(128, 128, 128, .3);

}
.step-wrap{
    /* padding: 0 80px; */
    display: flex;
    justify-content: center;
    border: 1px solid;
    
}
.step2{
    margin-left: 90px;
}
.step1{
    margin-right: 90px;
}
.process-right, .process-left{
   /* margin-top: 60px; */
   border-radius: 10px;
   background-color: rgb(128, 128, 128, 0.1) ;
   border: 1px solid rgb(128, 128, 128, .3);
   padding: 1em; 
}
.event8{
    color: black;
}
.popup{
    /* color: white; */
}
@keyframes scroll {
    0% {
      transform: translateX(0%);
      /* overflow-x: hidden; */
    }
    100% {
      transform: translateX(-100%);
    }
  }
@keyframes slidein {
    0% {
        margin-left: -50%;
    }
    100% {
        margin-left: -10%;
    }
}
@media only screen and (min-width : 1400px) {
    #featured .happy-client{
        /* margin:2em 0 0 12em; */
    }
    #approach{
        padding: 0 13em;
    }
}
@media (min-width: 768px) { 
    .process-row{
        padding: 0;
        margin: 0;
        width: calc(50% + 100px);
        margin-left: auto;
    }
    .process-row-reverse{
        margin: 0;
        width: calc(50% + 100px);
        flex-direction: row-reverse;
        /* margin-right: auto; */
    }
}
@media (max-width: 768px) {
    .process-right, .process-left{
        margin-top: 60px;
     }
}
